site_name: Mongoclasses
site_description: abc
site_url: https://www.python-mongoclasses.org/


theme:
  name: material
  icon:
    repo: fontawesome/brands/github

  palette:

    - scheme: 'default'
      primary: green
      accent: green
      media: '(prefers-color-scheme: light)'
      toggle:
        icon: 'material/brightness-7'
        name: 'Switch to dark mode'

    - scheme: 'slate'
      primary: green
      accent: green
      media: '(prefers-color-scheme: dark)'
      toggle:
        icon: 'material/brightness-4'
        name: 'Switch to light mode'

  features:
      - navigation.sections


repo_name: rykroon/mongoclasses
repo_url: https://github.com/rykroon/mongoclasses/


nav:
  - Introduction: index.md
  - API Reference:
    - Mongoclass Functions: api/mongoclasses.md
    - Collection Methods: api/sync_methods.md
    - Update Operators:
      - Field Operators: api/operators/update/field.md
      - Array Operators: api/operators/update/array.md
      - Bit Operators: api/operators/update/bit.md


markdown_extensions:
  - admonition

plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          show_root_heading: true
          separate_signature: true
          show_source: false
    watch:
    - src/mongoclasses
